body{
  font-family: 'Sansita', sans-serif;
  background: #011627;
  color: #FDFFFC;
  text-align:center;
  border: 40px solid green;
  border-top: 0px;
  margin:0px;
}
h1{
  font-size: 3.0em;
}
h2{
  font-size: 30px;
}
#same{
  padding-top: 5%;
  padding-left:20%;
  padding-right:20%;
}
form{
  font-size: 1.5em;
}
.button{
  background: yellow;
  height:80px;
  width:150px;
  border-radius: 25px;
  font-size: 1.5em;
  margin: 5px;
  margin-top:10px;
}
